@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Victor V. Pereira</h1>
    <h3>Software Developer -> C# / .NET / Python / SQL / Unity</h3>
    <p>Follow-me <a href="https://www.linkedin.com/in/victorvpereira/">Visit my LinkedIn to get to know me better</a>.</p>
</div>
