@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>

<p>Professional in the IT area, I worked professionally as a support analyst in and then became a Technical Analyst with strong knowledge in NETWORKS and technical support</p>
<p> As a developer and constant student of technology for 3 years, my focus is the Backend </p>
