@{
    ViewData["Title"] = "Pesquisar Livros";
}

<h2>@ViewData["Title"]</h2>

<div>
    <form method="get" action="/Home/Search">
        <input type="text" name="query" placeholder="Digite o termo de busca" />
        <button type="submit">Buscar</button>
    </form>
</div>

<div>
    <h3>Resultados da Pesquisa:</h3>
    @if (Model != null)
    {
        <ul>
            @foreach (var book in Model)
            {
                <li>@book.Title - @book.Author</li>
            }
        </ul>
    }
    else
    {
        <p>Nenhum resultado encontrado.</p>
    }
</div>

